@font-face {
    font-family: Playwrite;
    src: url("../fonts/PlaywriteUSModern-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

#wrapper {
    display: flex;
}

/* Left Column */

#left-column {
    background-image: url("../images/3-meals-together-2.jpg");
    position: relative;
    height: 100vh;
    flex-basis: 40%;
}

.logo-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
    height: 160px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo-image {
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.logo-name {
    color: white;
    font-size: 50px;
    font-family: Playwrite;
    height: 160px;
    line-height: 160px;
}

/* Right Column */

#right-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.top-container {
    flex: 1 1 0;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #f9fafb;
}

.top-container div {
    margin: 50px;
    margin-right: 150px;
}

.middle-container {
    padding: 30px 50px;
    flex-basis: 200px;
    box-shadow: 5px 15px;
}

.middle-container label {
    font-size: 12px;
}

.bottom-container {
    flex: 1 1 0;
    background-color: #f9fafb;
}

.bottom-container div {
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
}

.bottom-container div button {
    width: 200px;
    height: 46px;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

td {
    padding: 10px;
}

input:invalid {
    border: 1px solid red;
}

input:focus {
    border: 1px solid orange;
}