@font-face {
    font-family: Playwrite;
    src: url("../fonts/PlaywriteUSModern-Regular.ttf");
}

body {
    padding: 0px;
    margin: 0px;
}

#wrapper {
    display: flex;
}

/* Left Column */

#left-column {
    background-image: url("../images/3-meals-together-2.jpg");
    position: relative;
    height: 100vh;
    flex-basis: 30%;
}

.logo-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 200px;
    height: 160px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logo-image {
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.logo-name {
    color: white;
    font-size: 50px;
    font-family: Playwrite;
    height: 160px;
    line-height: 160px;
}

/* Right Column */

#right-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid orange;
}

.top-container {
    flex: 1 1 0;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: red;
}

.top-container div {
    margin-left: 50px;
    margin-bottom: 50px;
}

.middle-container {
    flex-basis: 200px;
    background-color: green;
}

.bottom-container {
    flex: 1 1 0;
    background-color: blue;
}

/* .top-container {
    padding: 50px;
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
    background-color: red;
}

.top-container p {
    align-self: baseline;
}

.middle-container {
    flex-grow: 1;
    background-color: green;
}

.bottom-container {
    flex-grow: 1;
    background-color: blue;
} */